@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

html, body{
  margin: 0;
  background-color: #D8DADB;
  font-family: 'Lato', sans-serif;
}

.top_header{
  position: fixed;
  background-color: #212121;
  width: 100%;
  height: 64px;
  z-index: 3;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
}

.header_wrapper{
  margin: 0 auto;
  max-width: 1440px;
  height: 64px;
  display: flex;
  justify-content: space-between;
}

/* logo start*/

div.logo{
  width: 180px;
  height: 32px;
  margin: 17px 8px 17px 32px;
  line-height: 32px;
}

img.img_logo{
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.logo span{
  display: inline-block;
  vertical-align: middle;
}

/* logo end*/

/* profile start*/

div.profile{
  margin: 12px 32px 12px 0px;
  width: 190px;
  height: 40px;
}

.profile span{
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

img.img_profile{
  display: inline-block;
  align: right;
  vertical-align: middle;
  margin-left: 8px;
}

/* profile end*/

.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 64px auto 0;
  max-width: 1440px;
  height: 1080px;
  background-color: #FFFFFF;
  /* border: 1px solid #E9EBF2; */
}

.sidebar{
  position: fixed;
  z-index: 2;
  width: 239px;
  height: 100%;
  flex-shrink: 0;
  border-right: 1px solid #E9EBF2;
  /* background-color: green; for test */ 
}

p strong{
  display: block;
  width: 188px;
  line-height: 18px;
  margin: 24px 32px 28px 20px;
  color: #4A4C52;
  font-weight: bold;
  font-size: 13px;
}

ul{
  padding: 0;
  margin-left: 24px;
}

ul li{
  list-style-type: none;
  font-size: 15px;
  line-height: 24px;
  align: left;
  margin: 8px 8px 8px 0;
  color: #5C6066;
}

li div.sidebar_icon{
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

li div img{
  padding: 5px 4px;
}

li span{
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

li a{
  color: #5C6066;
}

li a:hover{
  color: #1A1A1B;
}

.content_main{
  width: 1200px;
  height: 100%;
  margin: 100px 0 0 240px;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-wrap: nowrap;
}

.col_content{
  width: 69px;
  background-color: rgba(227, 0, 0, 0.3);
  flex-shrink: 0;
  margin: 0 13px;
}

.col_content:nth-child(1){
  margin-left: 2.66%;
}

.col_content:nth-child(12){
  margin-right: 2.66%;
}

@media screen and (min-width: 1367px) and (max-width: 1440px){
  .wrapper{
  max-width: 1440px;
  margin: 64px 0 0 0;
  }

  .side_bar{
  width: 239px;
  }


  .content_main{
  max-width: 1200px;
  }

  .col_content{
  width: 69px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .wrapper{
  max-width: 1366px;
  margin: 64px 0 0 0;
  }

  .side_bar{
  width: 239px;
  }

  .content_main{
  max-width: 1126px;
  }

  .col_content{
  width: 63px;
  }

.col_content:nth-child(1){
  margin-left: 2.84%;
}

.col_content:nth-child(12){
  margin-right: 2.66%;
}
}

@media screen and (max-width: 1280px) {
  .wrapper{
  max-width: 1280px;
  margin: 64px 0 0 0;
  }

  .side_bar{
  width: 239px;
  }

  .content_main{
  max-width: 1040px;
  }

  .col_content{
  width: 55px;
  }
  .col_content:nth-child(1){
  margin-left: 3.07%;
  }

  .col_content:nth-child(12){
  margin-right: 3.84%;
  }
}
