/* Webfont: Lato-Black */@font-face {
    font-family: 'LatoWebBlack';
    src: url('../fonts/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('../fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"), 
  url("../fonts/IBMPlexSans-Medium.woff") format('woff'),
  url("../fonts/IBMPlexSans-Medium-Cyrillic.woff2") format('woff2'),
  url("../fonts/IBMPlexSans-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"), 
  url("../fonts/IBMPlexSans-SemiBold.woff") format('woff'),
  url("../fonts/IBMPlexSans-SemiBold-Cyrillic.woff2") format('woff2'),
  url("../fonts/IBMPlexSans-SemiBold.ttf") format('truetype');
   }
  
html, body{
  margin: 0;
  background-color: #D8DADB;
  font-family: 'LatoWeb', sans-serif;
}

.top_header{
  position: fixed;
  background-color: #212121;
  width: 100%;
  height: 64px;
  z-index: 3;
  top: 0;
  left: 0;
  color: #FFFFFF;
  font-size: 18px;
}

.header_wrapper{
  margin: 0 auto;
  max-width: 1440px;
  min-width: 1280px;
  height: 64px;
  display: flex;
  justify-content: space-between;
}

/* logo start*/

div.logo{
  width: 185px;
  height: 32px;
  margin: 17px 8px 17px 32px;
  line-height: 32px;
}

img.img_logo{
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.logo span{
  display: inline-block;
  vertical-align: middle;
  font-family: 'LatoWebBlack', sans-serif;
  font-size: 18px;
}

/* logo end*/

/* profile start*/
div.profile{
  width: 200px;
  height: 38px;
  margin: 13px 41px 13px 0;
  display: inline-block;
  line-height: 38px;
  text-align: right;
}

.profile a{
  color: #FFFFFF;
  margin-left: 24px;
  text-decoration: none;
}

div.circle_notification{
  position: relative;
  width: 14.77px;
  height: 14.77px;
  top: -9px;
  left: -9px;
  border-radius: 14.77px;
  line-height: 14.77px;
  font-size: 8px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: #EA414A;
  color: #FFFFFF; 
  z-index: 4;
}

img.img_profile{
  display: inline-block;
  align: right;
  vertical-align: middle;
  width: 38px;
  height: 38px;
}

.profile .fa-sort{
  padding-left: 9px;
  font-size: 13px;
}

.drop .drop_checkbox{
  margin: 0;
  color: #FFFFFF;
}

.drop .drop_checkbox:hover{
  cursor: pointer;
}

input[type="checkbox"]{
  display: none;
}

.drop{
  position: relative;
  display: inline-block;
}

.dropOut .triangle1, .dropOut .triangle2{
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FFFFFF;
  top: -8px;
  left: 78%;
  margin-left: -8px;
  z-index: 2;
}

.dropOut .triangle2{
  border-bottom: 8px solid #DADADA;
  z-index: 1;
  top: -9px;
}

.dropdownContain {
  width: 160px;
  position: absolute;
  z-index: 10;
  right: -28px;
  top: 60px;
  opacity: 0;
}

input[type="checkbox"]:checked + .dropdownContain{
  opacity: 1;
}

.dropOut {
  width: 160px;
  background: #FFFFFF;
  float: left;
  position: relative;
  margin-top: 0px;
  z-index: 0;
  opacity: 1;
  border-radius: 4px;
  border: 1px solid #DADADA;
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  transition: all .1s ease-out;
}

.dropOut ul {
  float: left;
  margin: 2px;
}
.dropOut ul li {
  text-align: left;
  float: left;
  width: 119px;
  height: 24px;
  padding: 8px 22px 8px 16px;
  margin: 0px;
  color: #44566C;
  border-radius: 3px;
  transition: background .1s ease-out;
}

.dropOut ul li:hover {
  background: #EDEFF2;
  cursor: pointer;
}

.system_language span.fa-angle-down{
  margin-left: 8.23px;
}

span.language{
  color: #FFFFFF;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 40px;
}

/* profile end*/

/* join start*/
.registration_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 64px auto 0;
  max-width: 1440px;
}

.registration{
  width: 432px;
  height: 510px;
  background-color: #FFFFFF;
  margin-top: 111px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
}

.registration h1{
  display: inline-block;
  width: 368px;
  height: 46px;
  line-height: 46px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #1A1A1B;
  font-size: 35px;
  text-align: center;
  margin: 40px 32px 0px 32px;
}

form{
  width: 100%;
  border-bottom: 1px solid #E9EBF2;
}

form.link_button{
  border-bottom: none;
}

label{
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  margin: 25px 0 6px 40px;
  font-family: 'LatoWebSemibold';
  letter-spacing: 1px;
  color: #5C6066;
}

.input{
  width: 340px;
  height: 40px;
  line-height: 21px;
  font-size: 15px;
  background-color: #FFFFFF;
  color: #1A1A1B;
  border: none;
  border: solid 1px #ccc;
  border-radius: 2px;
  margin-left: 40px;
  padding-left: 12px;
}

input:invalid{
  background-color: #EDEFF2;
  border-color: #EA414A; 
}

input:focus + i{
  color: #5C6066;
}

input:focus{
  border-color: #1F36E5;
}

.inputicon{
  position: relative;
  margin-left: -35px;
  font-size: 16px;
  color: #D0D4D9;
}

::-webkit-contacts-auto-fill-button {
   visibility: hidden;
   pointer-events: none;
   position: absolute;
   right: 0;
}

input:active, input:hover, input:focus {
  outline: 0;
  outline-offset: 0;
}

.buttondisabled{
  background-color: #81868C;
  border-color: #81868C;
}

.button{
  width: 352px;
  height: 40px;
  line-height: 22px;
  margin: 32px 40px;
  border-radius: 4px;
  border: solid 1px #ccc;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 0;
  color: #FFFFFF;
  background-color: #1F36E5;
  border-color: #1F36E5;
}

.button:hover{
  background-color: #374EFF;
  border-color: #374EFF;
}

.button:active, .button:hover, .button:focus {
  outline: 0;
  outline-offset: 0;
}

div.account_existence{
  width: 300px;
  height: 21px;
  margin: 16px auto;
  font-size: 15px;
  text-align: center;
}

div.account_existence a{
  text-decoration: none;
  color: #1F36E5;
}

div.account_existence a:hover{
  color: #374EFF;
}

/* join end*/

/*log in start*/

.login_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 64px auto 0;
  max-width: 1440px;
}

.login_page{
  width: 432px;
  height: 443px;
  background-color: #FFFFFF;
  margin-top: 111px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
}

.login_page h1{
  display: inline-block;
  width: 368px;
  height: 46px;
  line-height: 46px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #1A1A1B;
  font-size: 35px;
  text-align: center;
  margin: 40px 32px 0px 40px;
}

div.reset_password{
  width: 352px;
  height: 21px;
  font-size: 15px;
  text-align: right;
  line-height: 21px;
  margin-left: 40px;
  margin-top: 6px;
}

div.reset_password a{
  text-decoration: none;
  color: #1F36E5;
}

div.reset_password a:hover{
  color: #374EFF;
}

/*log in end*/

/*reset password page start */

.reset_page{
  width: 432px;
  height: 329px;
  background-color: #FFFFFF;
  margin-top: 111px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
}

.reset_page h1{
  display: inline-block;
  width: 368px;
  height: 46px;
  line-height: 46px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #1A1A1B;
  font-size: 35px;
  text-align: center;
  margin: 40px 32px 0px 32px;
}

/*reset password page end */
/*mail sent page start */

.mail_sent{
  width: 432px;
  height: 264px;
  background-color: #FFFFFF;
  margin-top: 111px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
}

.mail_sent h1{
  display: inline-block;
  width: 368px;
  height: 46px;
  line-height: 46px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #1A1A1B;
  font-size: 35px;
  text-align: center;
  margin: 40px 32px 0px 32px;
}

.mail_sent_message{
  width: 352px;
  display: inline-block;
  text-align: center;
  margin: 24px 40px 0px 40px; 
  font-family: 'LatoWeb', sans-serif;
  font-size: 15px;
  color: #1A1A1B;
}

/*mail sent page end */

.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 64px auto 0;
  max-width: 1440px;
  min-width: 1280px;
  height: 100vh;
  background-color: #FFFFFF;
}

.sidebar{
  position: fixed;
  z-index: 3;
  width: 239px;
  height: 100%;
  flex-shrink: 0;
  background-color: #FFFFFF;
  border-right: 1px solid #E9EBF2;
  font-family: 'LatoWebSemibold', sans-serif;
}

p strong{
  display: block;
  width: 188px;
  line-height: 18px;
  margin: 32px 28px 20px 24px;
  color: #4A4C52;
  font-weight: bold;
  font-size: 13px;
}

ul{
  padding: 0;
  margin-left: 24px;
}

ul li{
  list-style-type: none;
  font-size: 15px;
  line-height: 24px;
  align: left;
  margin: 8px 0 8px 0;
  font-weight:500;
}

li div.sidebar_icon{
  width: 24px;
  height: 24px;
  display: inline-block;
  color: #AAAEB5;
  font-size: 15px;
  text-align: center;
}

li div.text{
  display: inline-block;
  margin-left: 8px;
  width: 138px;
  color: #5C6066;
}

li a{
  color: #5C6066;
  text-decoration: none;
}

a:hover div.sidebar_icon {
  color: #5C6066;
}

a:hover div.text {
  color: #1A1A1B;
}

div.notification{
  width: 22px;
  height: 17px;
  line-height: 17px;
  font-size: 10px;
  text-align: center;
  display: inline-block;
  margin-right: 23px;
  background-color: #EA414A;
  border-radius: 4px;
  color: #FFFFFF; 
}

div.notification_hidden{
  display: none;
}

.content_main{
  width: 1200px;
  height: 100%;
  margin-left: 240px;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  flex-wrap: nowrap;
}

.col_content{
  width: 69px;
  height: 100%;
  background-color: rgba(227, 0, 0, 0.3);
  flex-shrink: 0;
  margin: 0 13px;
}

.col_content:nth-child(1){
  margin-left: 2.66%;
}

.col_content:nth-child(12){
  margin-right: 2.66%;
}

@media screen and (min-width: 1367px) and (max-width: 1440px){
  .wrapper{
  max-width: 1440px;
  margin: 64px 0 0 0;
  }

  .side_bar{
  width: 239px;
  }


  .content_main{
  max-width: 1200px;
  }

  .col_content{
  width: 69px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .wrapper{
  max-width: 1366px;
  margin: 64px 0 0 0;
  }

  .side_bar{
  width: 239px;
  }

  .content_main{
  max-width: 1126px;
  }

  .col_content{
  width: 63px;
  }

.col_content:nth-child(1){
  margin-left: 2.84%;
}

.col_content:nth-child(12){
  margin-right: 2.66%;
}
}

@media screen and (max-width: 1280px) {
  .wrapper{
  max-width: 1280px;
  margin: 64px 0 0 0;
  }

  .side_bar{
  width: 239px;
  }

  .content_main{
  max-width: 1040px;
  }

  .col_content{
  width: 55px;
  }
  .col_content:nth-child(1){
  margin-left: 3.07%;
  }

  .col_content:nth-child(12){
  margin-right: 3.84%;
  }
}
